__pycache__/
*.pyc
jarvis_memory.db
open_javis.bat
build.bat
client_secret_385408941914-8negvrramjkgu1jtcmddu91l98d4ini5.apps.googleusercontent.com.json
jarvis.ico
JARVIS.spec
open_javis.bat
open_ps.bat